<form [formGroup]="employeeForm">
    <div class="row mb-3">
        <div class="col">
            <label for="country" class="form-label">Primer Nombre</label>
            <input
                type="text"
                class="form-control"
                formControlName="firstName"
                [class.error]="employeeForm.get('firstName')?.invalid && employeeForm.get('firstName')?.touched || employeeForm.get('firstName')?.invalid && employeeForm.get('firstName')?.untouched"
                [ngbTooltip]="'El campo es requerido'"
                [disableTooltip]="!(employeeForm.get('firstName')?.invalid && employeeForm.get('firstName')?.touched || employeeForm.get('firstName')?.invalid && employeeForm.get('firstName')?.untouched)"
                [triggers]="'hover:blur'"
                [placement]="'bottom'"
                placeholder="Primer Nombre"
                aria-label="Primer Nombre"
            >
        </div>
        <div class="col">
            <label for="country" class="form-label">Segundo Nombre</label>
            <input
                type="text"
                class="form-control"
                formControlName="secondName"
                placeholder="Segundo Nombre"
                aria-label="Segundo Nombre"
            >
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <label for="country" class="form-label">Primer Apellido</label>
            <input
                type="text"
                class="form-control"
                formControlName="surname"
                [class.error]="employeeForm.get('surname')?.invalid && employeeForm.get('surname')?.touched || employeeForm.get('surname')?.invalid && employeeForm.get('surname')?.untouched"
                [ngbTooltip]="'El campo es requerido'"
                [disableTooltip]="!(employeeForm.get('surname')?.invalid && employeeForm.get('surname')?.touched || employeeForm.get('surname')?.invalid && employeeForm.get('surname')?.untouched)"
                [triggers]="'hover:blur'"
                [placement]="'bottom'"
                placeholder="Primer Apellido"
                aria-label="Primer Apellido"
            >
        </div>
        <div class="col">
            <label for="country" class="form-label">Segundo Apellido</label>
            <input
                type="text"
                formControlName="secondSurname"
                [class.error]="employeeForm.get('secondSurname')?.invalid && employeeForm.get('secondSurname')?.touched || employeeForm.get('secondSurname')?.invalid && employeeForm.get('secondSurname')?.untouched"
                [ngbTooltip]="'El campo es requerido'"
                [disableTooltip]="!(employeeForm.get('secondSurname')?.invalid && employeeForm.get('secondSurname')?.touched || employeeForm.get('secondSurname')?.invalid && employeeForm.get('secondSurname')?.untouched)"
                [triggers]="'hover:blur'"
                [placement]="'bottom'"
                class="form-control"
                placeholder="Segundo Apellido"
                aria-label="Segundo Apellido"
            >
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <label for="country" class="form-label">País</label>
            <select class="form-select" formControlName="country" aria-label="Paía del empleo">
                <option *ngFor="let c of countries; index as i" [value]="c._id">{{ c.nameCountry }}</option>
            </select>
          </div>
        <div class="col">
            <label for="country" class="form-label">Tipo de Identificación</label>
            <select class="form-select" formControlName="identificationType" aria-label="Tipo de Identificación">
                <option *ngFor="let ti of typeIdentifications; index as i" [value]="ti._id">{{ ti.nameIdentification }}</option>
            </select>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <label for="country" class="form-label">Número de Identificación</label>
            <input
                type="text"
                class="form-control"
                formControlName="identification"
                placeholder="Número Identificación"
                aria-label="Número Identificación"
            >
        </div>
        <div class="col">
            <label for="country" class="form-label">Correo Electronico</label>
            <input
                type="email"
                class="form-control"
                formControlName="email"
                readonly
                placeholder="Correo Electronico"
                aria-label="Correo Electronico"
            >
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <label for="country" class="form-label">Fecha de Ingreso</label>
            <input
                type="datetime-local"
                class="form-control"
                formControlName="admissionDate"
                placeholder="Fecha de Ingreso"
                aria-label="Fecha de Ingreso"
            >
        </div>
        <div class="col">
            <label for="country" class="form-label">Áreas</label>
            <select class="form-select" formControlName="area" aria-label="Áreas">
                <option>Seleccione</option>
                <option *ngFor="let a of areas; index as i" [value]="a._id">{{ a.nameArea }}</option>
            </select>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <div class="form-check form-switch">
                <input 
                    class="form-check-input ml-2" 
                    formControlName="state" 
                    type="checkbox" role="switch" 
                    id="state" [checked]="true" [disabled]="true">
                <label class="form-check-label ml-5" for="state">Estado del Empleado</label>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center bd-highlight mb-3">
        <button 
            type="button" 
            class="btn btn-{{ labelNameModal === 'Crear' ? 'primary' : 'info' }} btn-lg" 
            (click)="validateAction()">
            {{ labelNameModal }}
        </button>
    </div>
</form>
