<div class="container-fluid mt-5">
  

  <div class="card">
    <h5 class="card-header">Listado de empleados</h5>
    <div class="card-body">
      <h5 class="card-title">
        <form>
          <div class="row">
            <div class="col">
              <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">
                Filtro empleados
              </label>
              <div class="col-xs-3 col-sm-auto">
                <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter">
              </div>
            </div>
            <div class="col mt-auto ml-auto">
              <button type="button" class="btn btn-primary" (click)="openNewOrUpdateEmployee(content)">Crear Empleado</button>
            </div>
          </div>
        </form>
      </h5>

      <div class="table-responsive">
        <table class="table table-striped mb-3">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Primer Nombre</th>
            <th scope="col">Segundo Nombre</th>
            <th scope="col">Primer Apellido</th>
            <th scope="col">Segundo Apellido</th>
            <th scope="col">Correo Electronico</th>
            <th scope="col">Acciones</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let employee of countries$ | async; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              <ngb-highlight [result]="employee.firstName" [term]="filter.value"></ngb-highlight>
            </td>
            <td>
              <ngb-highlight [result]="employee.secondName" [term]="filter.value"></ngb-highlight>
            </td>
            <td>
              <ngb-highlight [result]="employee.surname" [term]="filter.value"></ngb-highlight>
            </td>
            <td>
              <ngb-highlight [result]="employee.secondSurname" [term]="filter.value"></ngb-highlight>
            </td>
            <td>
              <ngb-highlight [result]="employee.email" [term]="filter.value"></ngb-highlight>
            </td>
            <td>
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline-primary mr-2" (click)="openNewOrUpdateEmployee(content, employee)">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-outline-danger mr-2" (click)="deleteEmployee(employee._id!!)">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <ngb-pagination 
        [collectionSize]="countCollections" 
        [(page)]="page" 
        [pageSize]="pageSize"
        [maxSize]="5" 
        [rotate]="true" 
        [boundaryLinks]="true"
        (pageChange)="refreshEmployeesList()">
      </ngb-pagination>
      <div ngbDropdown class="d-inline-block ml-3">
        <button class="btn btn-outline-primary" [(ngModel)]="pageSize" (ngModelChange)="refreshEmployeesList()" ngbDropdownToggle> {{ pageSize }} </button>
        <div ngbDropdownMenu>
          <button ngbDropdownItem [value]="5">5 registros por pagina</button>
          <button ngbDropdownItem [value]="10">10 registros por pagina</button>
          <button ngbDropdownItem [value]="15">15 registros por pagina</button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ labelNameModal }} Empleado</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <app-create-update-employee 
    [labelNameModal]="labelNameModal" 
    [idEmployee]="idEmployee"
    (createOrUpdateEmployee)="createOrUpdateSuccess(modal)">
  </app-create-update-employee>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">Cancel</button>
  </div>
</ng-template>
